body {
    background: rgb(100, 0, 0);
    padding: 0;
    margin: 0;
}

.container {
    background: #fff;
}

.wrapper {
    background: rgb(100, 0, 0);
    max-width: 400px;
    display: block;
    margin: 7% auto;
    text-align: center;
    padding: 20px;
    color: #fff;
}

hr {
    background: #fff;
}

span {
    font-size: 100px;
}